
<section class="top-nav">

  <div class="title">Alchemy Coaching</div>
  @if(screenWidth > 900){

  <ul class="links-container menu">
    <li><a routerLink="#">Home</a></li>
    <li><a routerLink="/coaches">Coaches</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="#">Workshops</a></li>
    <li><a routerLink="#">About</a></li>
    @if(accountService.currentUser()){
      <li class="dropdown-toggle">
        <button (click)="togglePortalMenu()">{{ accountService.currentUser()?.firstName }}  {{ accountService.currentUser()?.lastName?.charAt(0) }}.</button>
       </li>
    }
    @else{
      <li>
        <button popovertarget="login-popover">Log In</button>
      </li>
    }
  </ul>

  <div popover id="login-popover" class="login-container">
    <app-login (loginSuccessful)="onLoginSuccess()"></app-login>
  </div>
  }
</section>


  <section id="client-portal-menu" class="bottom-nav hide">
    <ul class="menu portal">
      <li><button class="bottom-button" (click)="logout()">Log Out</button></li>
      <li><a routerLink="#">Payments</a></li>
      <li><a routerLink="#">Appointments</a></li>
      <li><a routerLink="#">Account</a></li>
    </ul>
  </section>

<!--<section class="top-nav">
  <div class="title">
    Courtney Edwards MS, BCC
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  @if( !displayLogin || screenWidth >= 900){
  <ul class="links-container menu">
    <li><a routerLink="#">Home</a></li>
    <li><a routerLink="#">Coaches</a></li>
    <li><a routerLink="#">Services</a></li>
    <li><a routerLink="#">Workshops</a></li>
    <li><a routerLink="#">About</a></li>

    @if(accountService.currentUser()){

    @if(screenWidth < 900){
    <li><a routerLink="#">Payments</a></li>
    <li><a routerLink="#">Appointments</a></li>
    <li><a routerLink="#">Account</a></li>
    <li><a routerLink="#" (click)="logout()">Log Out</a></li>
    }
    @else{
    <li>
      <a routerLink="#" class="dropdown-toggle" data-bs-toggle="dropdown" (click)="togglePortalMenu()">
        {{ accountService.currentUser()?.firstName }}  {{ accountService.currentUser()?.lastName?.charAt(0) }}.
      </a>
    </li>
    }

    }
    @else{
    <li>
        <a routerLink="#" (click)="openLogin(); $event.stopPropagation()">Log In</a>
    </li>

    }
  </ul>
  }


</section>

  @if( displayLogin ){
  <div class="login-container">
    <app-login (click)="$event.stopPropagation()" (closeLogin)="closeLogin()"></app-login>
  </div>
  }

  @if( displayPortalMenu ){
  <section class="bottom-nav">
    <ul class="menu portal">
      <li><a routerLink="#" (click)="logout()">Log Out</a></li>
      <li><a routerLink="#">Payments</a></li>
      <li><a routerLink="#">Appointments</a></li>
      <li><a routerLink="#">Account</a></li>
    </ul>
  </section>
  }-->
