
<section class="top-nav" [class.long]="accountService.currentUser()">

  <div class="title">Alchemy Coaching</div>

    <ul class="menu">
      <li><a routerLink="#">Home</a></li>
      <li><a routerLink="/coaches">Coaches</a></li>
      <li><a routerLink="/services">Services</a></li>
      <li><a routerLink="#">Workshops</a></li>
      <li><a routerLink="#">About</a></li>
      @if(accountService.currentUser()){

      @if(screenWidth > 900){
      <li class="dropdown-toggle">
        <button (click)="togglePortalMenu()">{{ accountService.currentUser()?.firstName }}  {{ accountService.currentUser()?.lastName?.charAt(0) }}.</button>
      </li>
      }
      @else{
      <li><a routerLink="#">Payments</a></li>
      <li><a routerLink="#">Appointments</a></li>
      <li><a routerLink="#">Account</a></li>
      <li><button (click)="logout()">Log Out</button></li>
      }

      }
      @else{
      <li>
        <button (click)="toggleMenu()" popovertarget="login-popover">Log In</button>
      </li>
      }
    </ul>
    <button class="hamburger-box" (click)="toggleMenu()">
      <div class="hamburger-inner"></div>
    </button>

  <div popover id="login-popover" class="login-container">
    <app-login (loginSuccessful)="onLoginSuccess()"></app-login>
  </div>
</section>


<section id="client-portal-menu" class="bottom-nav hide">
  <ul class="menu">
    <li><button class="bottom-button" (click)="logout()">Log Out</button></li>
    <li><a routerLink="#">Payments</a></li>
    <li><a routerLink="#">Appointments</a></li>
    <li><a routerLink="#">Account</a></li>
  </ul>
</section>
