
  <section class="top-nav">
    <div class="title">
      Courtney Edwards MS, BCC
    </div>
    <div>
      <div class="menu-container">
        <input id="menu-toggle" type="checkbox" />
        <label class='menu-button-container' for="menu-toggle">
          <div class='menu-button'></div>
        </label>
        <ul class="links-container menu">
          <li><a routerLink="#">Home</a></li>
          <li><a routerLink="#">Services</a></li>
          <li><a routerLink="#">Workshops</a></li>
          <li><a routerLink="#">Podcast</a></li>
          <li><a routerLink="#">About</a></li>
        </ul>
        @if(accountService.currentUser()){
        <!--<li>-->
        <a routerLink="#" class="dropdown-toggle" data-bs-toggle="dropdown" (click)="togglePortalMenu()">
          {{ accountService.currentUser()?.firstName }}  {{ accountService.currentUser()?.lastName?.charAt(0) }}.
        </a>
        <!--</li>-->
        }
        @else{
        <!--<li>-->
        <a routerLink="#" (click)="toggleLogin()">Log In</a>
        <!--</li>-->
        }
        <!--</ul>-->
        <!--</ul>-->
      </div>
    </div>
  </section>

  @if( displayLogin ){
   <app-login (loginSuccessful)="toggleLogin()"></app-login>
  }

  @if( displayPortalMenu ){
  <section class="bottom-nav">
    <ul class="menu portal">
      <li><a routerLink="#" (click)="logout()">Log Out</a></li>
      <li><a routerLink="#">Payments</a></li>
      <li><a routerLink="#">Appointments</a></li>
      <li><a routerLink="#">Account</a></li>
    </ul>
  </section>
  }

