
<section class="top-nav">
  <div class="title">
    Courtney Edwards MS, BCC
  </div>
  <input id="menu-toggle" type="checkbox" />
  <label class='menu-button-container' for="menu-toggle">
    <div class='menu-button'></div>
  </label>
  <ul class="menu">
    <li>
      <a routerLink="#">Home</a>
    </li>
    <li>Services</li>
    <li>About</li>
    <li>Groups</li>
    <li>Media</li>
    @if(accountService.currentUser()){
    <li>Client Portal</li>
    }
    @else{
    <li>
      <button (click)="toggleLogin()">Log In</button>
    </li>
    }
  </ul>
</section>

@if( displayLogin ){
<app-login></app-login>
}
