
@import '../../style-variables.scss';
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

* {
  font-family: Raleway;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 50;
}

.navbar {
  font-size: 10px;
  font-weight: 50;
  background-color: $dark;
  letter-spacing: .04em;
  position: absolute;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: $medium;
}

a:target{
  background-color: $medium;
}

html, body {
  margin: 0;
  height: 100%;
}



.top-nav {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  background-color: $dark;
  color: $light;
  height: 50px;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}

.title {
  color: $light;
  font-weight: 100;
  text-transform: none;
}

.links-container {
  display: flex;
  align-items: end;
  justify-content: flex-end;
  //list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-container{
    display: flex;
    align-content: end;
    justify-content: space-between;
    gap: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
  letter-spacing: .04em;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $light;
  position: absolute;
  height: 2px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: $medium;
  color: $dark;
  padding: 2px;
  position: fixed;
  width: 100vw;
  top: 50px;
  z-index: 1;
}

.portal > li > a {
    text-decoration: none;
    color: $dark;
  }

.portal > li > a:hover {
  color: $light;
}


@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
    z-index: 100;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid $light;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: $light;
    background-color: $dark;
    //border-bottom: 3px solid $light;
  }

  .menu portal > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: $light;
    background-color: $dark;
    //border-bottom: 3px solid $light;
  }

  .bottom-nav {
      display: none;
      
  }
}
