$white: white;
$dark: #021610;
$light: #E2EBDD;



body {
  min-height: 1000px;
  background-color: $dark;
}

.banner {
  background-image: url("home-background-herbs.jpg");
  background-size: cover;
  min-height: 375px;
  max-height: 375px;
  border-bottom: 3px double $light;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
}

.top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  padding: 20px;
  padding-bottom: 30px;
  max-width: 900px;
  margin: 0;
  color: $light;
  background-color: $dark;
  border: 3px double;

}

.break {
  flex-basis: 100%;
  height: 0;
}

.icons{
    font-size: 30px;
}

.title-container {
  font-size: 50px;
  display: flex;
  align-items: center;
  letter-spacing: .02em;
  column-gap: 10px;

}

@import url(https://fonts.googleapis.com/css?family=Ephesis);
.title {
  font-family: "Ephesis";
  font-size: 60px;
  font-weight: 00;

}

.subtitle-container {
  font-family: "Forum";
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 100;

}

.subtitle-scroll{
  height: 3rem;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  z-index: 1;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

ul {
  padding: 0;
  animation: scrollUp 8s infinite;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    list-style: none;
    opacity: 1;
  }
}


// Variables
$item-count: 5;

@keyframes scrollUp {
  @for $i from 1 through ($item-count - 1) {
    #{($i * 25) - 10%}, #{$i * 25%} {
      transform: translateY((-100% / $item-count) * $i);
    }
  }
}



.bottom-content {
  display: flex;
  align-items: start;
  color: $light;
  padding-top: 30px;
  display: flex;
  align-content: start;
  justify-content: flex-start;

}

.portrait {
  background-image: url(courtney.jpg);
  background-size: cover;
  background-position: top;
  min-height: 600px;
  min-width: 300px;
  max-width: 600px;
  width: 40vw;
  padding: 20px;
  border: 3px double;
  color: $light;
  font-family: "Ephesis";
  font-size: 60px;
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}

.btn {
 padding: 15px;
 margin-left: 20px;
 background-color: $light;
 font-family: "Raleway";
 font-weight: 100;
 font-size: 20px;
 
}


.description {
  color: $light;
  font-family: "Forum";
  font-size: 25px;
  padding: 30px;
  width: 40vw;
  max-width: 600px;
}
