
<body>
  <div class="banner">
    <div class="top-section">
      <div class="top-content">
        <div class="title-container">
          <span class="icons">
            &#x263E;
            &#x2736;
          </span>
          <span class="title">
            Alchemy
          </span>
          <span class="icons">
            &#x2736;
            &#x263D;
          </span>
        </div>
        <div class="break"></div>
        <div class="subtitle-container">
          <div style="text-align: center;">
            Compassionate coaching to transform your
            <span style="white-space: nowrap">
              {{ "{" }}
              <div class="subtitle-scroll">
                <ul>
                  <li>life</li>
                  <li>relationship</li>
                  <li>career</li>
                  <li>team</li>
                  <li>life</li>
                </ul>
              </div>
              {{ "}" }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="break"></div>
    <div style="display: flex; align-content: start; justify-content: flex-start; width: calc(100vw - 16px)">

    </div>
  </div>



  <div class="banner-link-bar"></div>

  <div class="bottom-section">
    <div class="portrait-container">
      <div class="portrait"></div>
    </div>

    <div class="bottom-content-break"></div>

    <div class="right-section">
      <div class="tagline">
        Get Unstuck
      </div>


      <div class="banner-link">
        <a href="#">Schedule a Consultation</a>
      </div>


      <div class="description-primary">
        Life gets tough and messy.
      </div>

      <div class="description-container">
        <div class="description-secondary">
          Everyone struggles from time to time. And often a little bit of support - a listening ear, connection, accountability - are all that are necessary to make profound changes in your life, wellbeing, and happiness. That’s where Alchemy comes in! Together, we’ll face these challenges and create something new.
          <br>
          That’s the <span style="font-family: Ephesis; font-size: 30px">magic </span> of transformation.
        </div>
      </div>
    </div>




  </div>




</body>

