$white: white;
$dark: #021610;
$light: #E2EBDD;



body {
  min-height: calc(100vh - 50px);
  background-color: $dark;
}

.banner {
  background-image: url("home-background-herbs.jpg");
  background-size: cover;
  min-height: 400px;
  max-height: 400px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 50px;
  padding-bottom: 0px;

}

.top-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
  padding: 10px;
  padding-bottom: 20px;
  max-width: 900px;
  margin: 0;
  color: $light;
  background-color: $dark;
  border: 1px solid;

}

.break {
  flex-basis: 100%;
  height: 0;
}

.icons{
    font-size: 30px;
}

.title-container {
  font-size: 50px;
  display: flex;
  align-items: center;
  letter-spacing: .02em;
  column-gap: 10px;

}

@import url(https://fonts.googleapis.com/css?family=Ephesis);
.title {
  font-family: "Ephesis";
  font-size: 60px;
  font-weight: 00;

}

.subtitle-container {
  font-family: "Forum";
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 100;

}

.subtitle-scroll{
  height: 3rem;
  margin: 0;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  //z-index: 1;
  -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0)), linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
  -webkit-mask-size: 100% 50%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;
}

ul {
  padding: 0;
  animation: scrollUp 8s infinite;

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    list-style: none;
    opacity: 1;
  }
}


// Variables
$item-count: 5;

@keyframes scrollUp {
  @for $i from 1 through ($item-count - 1) {
    #{($i * 25) - 10%}, #{$i * 25%} {
      transform: translateY((-100% / $item-count) * $i);
    }
  }
}

.tagline {
  color: $light;
  font-family: "Ephesis";
  font-size: 60px;
  height: 75px;
  white-space: nowrap;
}

.banner-link-bar {
    width: 100vw;
    height: 30px;
    padding: 0;
    margin: 0;
    background: $light;
    color: $dark;
    display: flex;
    align-content: start;
    justify-content: flex-start;
}

.banner-link {
  color: $dark;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Raleway";
  margin-top: -4px;
  min-width: 300px;
}

a {
  color: $dark;
  text-decoration: none;
}


.bottom-section {
  color: $light;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: -100px;
}

.portrait-container {
  width: 50vw;
  display: flex;
  justify-content: right;
}

.portrait {
  background-image: url(courtney.jpg);
  background-size: cover;
  background-position: top;
  min-width: 300px;
  max-width: 500px;
  width: 40vw;
  min-height: 500px;
  border: 1px solid;
  color: $light;
}



.right-section {
  margin-left: 2.5vw;
}

.description-primary {
  color: $light;
  font-family: "Forum";
  font-size: 30px;
  //padding: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  //margin-left: 2.5vw;
  width: 40vw;
}

.description-container {
  width: 40vw; margin: 0; padding: 0;
}

.description-secondary {
  color: $light;
  font-family: "Forum";
  font-size: 20px;
  max-width: 300px;
  width: 40vw;
}

@media (max-width: 600px) {
  //TODO
}
