
<body>
  <div class="banner">
    <div class="top-section">
      <div class="top-content">
        <div class="title-container">
          <span class="icons">
            &#x263E;
            &#x2736;
          </span>
          <span class="title">
            Alchemy
          </span>
          <span class="icons">
            &#x2736;
            &#x263D;
          </span>
        </div>
        <div class="break"></div>
        <div class="subtitle-container">
          <div style="text-align: center">
            Compassionate coaching to transform your {{ "{" }}
            <div class="subtitle-scroll">
              <ul>
                <li>life</li>
                <li>relationship</li>
                <li>career</li>
                <li>team</li>
                <li>life</li>
              </ul>
            </div>
            {{ "}" }}
          </div>
        </div>
      </div>
      <div class="break"></div>
      <div class="bottom-content">
        <div class="portrait">
          <div class="tagline">
            Get Unstuck
          </div>

        </div>
        <div style="margin-top: 30px;">
          <button class="btn" type="submit">Schedule Consultation</button>
          <div class="break"></div>
          <div class="description">


            Life gets tough and messy. <br />
            Everyone struggles from time to time. And often a little bit of support - a listening ear, connection, accountability - are all that are necessary to make profound changes in your life, wellbeing, and happiness. That’s where Alchemy comes in! Together, we’ll face these challenges and create something new.

            That’s the magic of transformation.

            Get unstuck.
          </div>

        </div>
        
      </div>
      
    </div>
  </div>

  

</body>

