@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import '../../style-variables.scss';

body {
  background-image: url('courtney-full-page.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  overflow: auto;

}

.page-container {
  backdrop-filter: brightness(80%) contrast(70%);
  height: calc(100lvh - 50px);
}

.title-container{
    position: fixed;
    top: calc(max(70px, 20lvh));
    left: calc(min(7vw, 80px));

}
.title {
  font-family: Tenor Sans;
  font-size: calc(min(90px, 22vw));
  color: white;
}

.subtitle {
  font-family: Tenor Sans;
  font-size: calc(min(18px, 4.4vw));
  margin-top: -25px;
  color: white;
}

.button-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 15px;
}

.button {
  border: 2px white solid;
  border-radius: 4px;
  font-family: Tenor Sans;
  font-size: 12px;
  letter-spacing: .14em;
  font-weight: 400;
  padding: 12px;
  color: white;
  white-space: nowrap;
  background-color: rgb(0,0,0,20%);
}

.button:hover {
  background-color: white;
  color: transparent;
  opacity: 80%;
  color: $dark
}


a {
  text-decoration: none;
  color: white;
}

.description {
    font-family: Tenor Sans;
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    text-transform: lowercase;
}

.toggle-home {
    border-radius: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
