<body>
  <div class="page-container">
    <div class="title-container">
      <div class="title">alchemy</div>
      <div class="subtitle">the magic of transformation</div>
      <div class="description">
        coaching for life • relationship • career
      </div>
      <div class="button-container">
        <div class="button">
          <a href="/coaches">OUR COACHES</a>
        </div>
        <div class="button">
          <a href="/services">OUR SERVICES</a>
          
        </div>
        <div class="button">
          <a href="#">SCHEDULE A CONSULTATION</a>
        </div>
      </div>
    </div>
    <button class="button toggle-home" [routerLink]="['/alt']"></button>
  </div>


</body>

