<body>
  <div class="page-container">
    <div class="title-container">
      <div class="title">alchemy</div>
      <div class="subtitle">the magic of transformation</div>
      <div class="description">
        coaching for life • relationship • career
      </div>
      <div class="button-container">
          <a class="button" href="/coaches">OUR COACHES</a>
          <a class="button" href="/services">OUR SERVICES</a>
          <a class="button" href="/schedule">SCHEDULE A CONSULTATION</a>
      </div>
    </div>
    <button class="button toggle-home" [routerLink]="['/alt']"></button>
  </div>


</body>

