<body>

  <div class="coaches-container">
    <div class="coach-container">
      <div class="coach-title">Courtney Edwards</div>
      <div class="coach-content">
        <div class="coach-image-container">
          <div class="coach-image courtney"></div>
        </div>
        <div class="left-content">
          <div class="coach-description">
            Courtney Edwards (she/her) is a counselor turned life, relationship, and career coach. She founded Alchemy Coaching in 2018 to help individuals, couples, and groups build a stronger foundation of wellbeing through the lens of positive psychology and mindfulness.
            <br /> <br />
            Courtney’s areas of specialty include: personal, career, and relationship satisfaction, burnout, executive functioning, habit change, and women's issues around care of self, communication, boundary setting, and empowerment.
            <br /> <br />
            Courtney offers individual services in person and remotely. Her relationship services for couples and polycules are available in person only.
          </div>
          <div class="buttons-container">
            <button><a href="/services?coach=Courtney">Courtney's Services</a></button>
            <button>Courtney's Bio</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="coaches-container">
    <div class="coach-container">
      <div class="coach-title">Tarni Kaur</div>
      <div class="coach-content">
        <div class="coach-image-container">
          <div class="coach-image tarni"></div>
        </div>
        <div class="left-content">
          <div class="coach-description">
            Merging a background in psychology with experience in life coaching, Tarni uses a solutions-focused framework alongside mindfulness practices to help individuals move forward with purpose.
            <br /><br />
            Tarni’s areas of specialty include: professionals, students, immigrants, neurodivergent individuals, and those navigating major life transitions.
            <br /><br />
            Tarni is happy to offer remote services.
          </div>
          <div class="buttons-container">
            <button><a href="/services?coach=Tarni">Tarni's Services</a></button>
            <button>Tarni's Bio</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="coaches-container">
    <div class="coach-container">
      <div class="coach-title">Christina Donaldson</div>
      <div class="coach-content">
        <div class="coach-image-container">
          <div class="coach-image christina"></div>
        </div>
        <div class="left-content">
          <div class="coach-description">
            Christina blends intuitive and creative coaching techniques with motivational interviewing to meet clients where they are with curiosity, compassion, and a commitment to growth. She has a special interest in working with diverse neurotypes, including late-diagnosed/discovered autistic individuals.
            <br /><br />
            Christina offers remote services.
          </div>
          <div class="buttons-container">
            <button><a href="/services?coach=Christina">Christina's Services</a></button>
            <button>Christina's Bio</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
