
<body>
  <div class="page-container">
    <div class="thumbnails-container">
      <div class="thumbnail">
        <div (click)="selectCoach('Courtney')" class="thumbnail-picture courtney"></div>
        Courtney
      </div>

      <div class="thumbnail">
        <div (click)="selectCoach('Tarni')" class="thumbnail-picture tarni"></div>
        Tarni
      </div>

      <div class="thumbnail">
        <div (click)="selectCoach('Christina')" class="thumbnail-picture christina"></div>
        Christina
      </div>
    </div>

    <div class="services-container">
      <div class="service">
        <div class="service-heading">Individual Coaching</div>
        <div class="service-description">Our individual services are designed to meet you where you are. The Alchemy approach is non-pathologizing, meaning the focus is not on illness or disorder ("normal" is a setting on laundry machines!); instead our work will focus on building mindful coping strategies within a strengths-based, solutions-focused framework. Frequent topics include: career exploration and planning, setting and holding boundaries, self-esteem, mindful living, burnout care and prevention, and creating more fulfilling relationships. This work will increase self-knowing and compassion, enhance effective emotional management, and allow for a greater capacity for happiness in your life.</div>
        <div class="packages-container">

          @if(coach == "Courtney" || coach == "Tarni"){
          <div class="packages-section">
            <div class="package-subtitle">Pay as you go</div>
            <div class="packages">
              <div class="package">Single Session<br />${{ this.getCost("single session") }}</div>
              <div class="package">Four Sessions<br />$360</div>
              @if(coach == "Courtney"){
              <div class="package">Six Sessions<br />$510</div>
              }

            </div>
          </div>
          }


          <div class="packages-section">
            <div class="package-subtitle">Subscriptions</div>
            <div class="packages">

              <div class="package">Two Per Month<br />$175</div>
              <div class="package">Four Per Month<br />$325</div>
            </div>
          </div>
        </div>
      </div>

      <div class="break"></div>

      @if(coach == "Courtney"){
      <div class="service">
        <div class="service-heading">Relationship Coaching</div>
        <div class="service-description">Alchemy’s relationship services are inclusive, solutions-focused, and designed for couples/polycules that function well most of the time but are seeking to strengthen bonds, better understand attachment style, set and hold loving boundaries, and communicate more effectively. </div>
        <div class="packages-container">
          <div class="packages-section">
            <div class="package-subtitle">Pay as you go</div>
            <div class="packages">
              <div class="package">Single Session<br />$95</div>
              <div class="package">Four Sessions<br />$360</div>
              <div class="package">Six Sessions<br />$510</div>
            </div>
          </div>
          <div class="packages-section">
            <div class="package-subtitle">Subscriptions</div>
            <div class="packages">
              <div class="package">Two Per Month<br />$175</div>
              <div class="package">Four Per Month<br />$325</div>
            </div>
          </div>
        </div>
      </div>


      }
    </div>
  </div>

</body>
