

<!--<form class="show login" (ngSubmit)="login()">-->
<form class="login" (ngSubmit)="login()">
  <input name="email"
         placeholder="EMAIL ADDRESS"
         [(ngModel)]="userLogin.email"
         class="login-input" />
  <br>
  <input type="password" name="password"
         placeholder="PASSWORD"
         [(ngModel)]="userLogin.password"
         class="login-input" />
  <br>
  <div class="submit-btn-container">
    <button class="submit-btn" type="submit">Submit</button>
    <button class="submit-btn">Register</button>
    <button class="submit-btn">Forgot Password</button>
  </div>

</form>

