
<form class="login">
  <input name="email"
         placeholder="EMAIL ADDRESS"
         [(ngModel)]="userLogin.email"
         class="login-input" />
  <br>
  <input type="password" name="password"
         placeholder="PASSWORD"
         [(ngModel)]="userLogin.password"
         class="login-input" />
  <input id="name"
         name="name"
         placeholder="NAME"
         [(ngModel)]="name"
         class="login-input"
         disabled />

  <div class="submit-btn-container">
    <button id="login" (click)="login()">
      @if(loading){
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      }
      @else{
      Login
      }
    </button>
    <button id="new-user">New User</button>
    <button disabled>Forgot Password</button>
  </div>

  <div class="error">{{errorMessage}}</div>

</form>

