

<!--<form class="show login" (ngSubmit)="login()">-->
<form class="login" (ngSubmit)="login()">
  <input name="email"
         placeholder="EMAIL ADDRESS"
         [(ngModel)]="userLogin.email"
         class="login-input" />
  <br>
  <input type="password" name="password"
         placeholder="PASSWORD"
         [(ngModel)]="userLogin.password"
         class="login-input" />
  <br>
  <div class="submit-btn-container">
    <button id="submit-btn" type="submit">
      @if(loading){
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      }
      @else{
      Submit
      }
    </button>
    <button disabled>Register</button>
    <button disabled>Forgot Password</button>
  </div>

  <div class="error">{{errorMessage}}</div>

</form>

