@import '../../style-variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');


.login {
  margin: 8px;
  padding: 5px;
  background-color: rgb($dark,0.4);
  border-radius: 5px;
}

.login-input {
  height: 25px;
  background-color: white;
  margin: 5px;
  padding: 5px;
  font-size: 15px;
  width: 285px;
  border-radius: 3px;
  border: 1px solid white;
}

.submit-btn-container{
    display: flex;
    justify-content: space-between;
}

.submit-btn {
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  margin: 3px;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: transparent;
}

.submit-btn:hover {
  background-color: white;
  color: darkslategrey;
}

@media (max-width: 900px) {
  //.login{
  //    position: relative;
  //    top: 0;
  //    right: 0;
  //}

}
